<!-- fragments/loader.html -->
<div th:fragment="loader" xmlns:th="http://www.w3.org/1999/xhtml">
  <!-- Loader Overlay -->
  <div id="loader" class="position-fixed top-0 start-0 w-100 h-100 d-flex justify-content-center align-items-center bg-white bg-opacity-90" style="z-index: 9999; visibility: hidden; opacity: 0; transition: visibility 0s, opacity 0.3s linear;">
    <!-- Spinner -->
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>