<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layouts/layout}">
<head>
  <title>Dashboard</title>
  <th:block layout:fragment="headcontent">
    <meta name="description" content="Admin dashboard page">
    <link th:href="@{/css/dashboard.css}" rel="stylesheet">
  </th:block>
</head>
<body>
<div layout:fragment="content">
  <div class="container-fluid">
    <div style="
    font-size: 100px;
    height: 55vh;
    text-align: center;
    width: 100%;
">
      DASHBOARD COMING SOON.
    </div>
  </div>
</div>

<th:block layout:fragment="scriptcontent">
  <script>
  </script>
</th:block>
</body>
</html>